db/*.sqlite3
coverage/**
app/assets/images
public/images
public/assets
log
tmp
*.png
.ruby-version
.ruby-env
.idea
spike
*.gem
ext/scala_helper/target
ext/scala_helper/project/project
ext/scala_helper/project/target
lib/cassandra_model_spark/local_build.rb
*.iml